<div class="row">
  <div class="large-12">
      <h1>Create a New Question</h1>

      <%= form_for @question do |f| %>
    
        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :description %>
        <%= f.text_area :description %>

        <%= f.submit "Add Question" %>
      <%- end -%>

      <p><a href='/questions'>Back to Questions</a></p>
    </div>
</div>
